
.title {
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.text {

    padding-top: 1.5rem;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    
}

#sectionOne {
    background-color: #F9F9F9;
    min-height: 82vh;
    background-size: cover;
}

#sectionTwo {
    min-height: 80vh;
    background-size: cover;
}

#sectionThree {
    background-color: #F9F9F9;
    min-height: 110vh;
    background-size: cover;
}

#sectionFour {
    min-height: 40vh;
    background-size: cover;
}

#sectionFive {
    background-color: #F9F9F9;
    min-height: 10vh;
    background-size: cover;
}

.button {
    padding-top: 1.5rem;
        display: flex;
        justify-content: center;

      
}


@media screen and (max-width: 960px) {



    .text {
    
        padding-top: 1.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 2rem;
    }

    #sectionOne {
        background-color: #F9F9F9;
        min-height: 82vh;
        background-size: cover;
    }

    #sectionTwo {
        min-height: 80vh;
        background-size: cover;
    }

    #sectionThree {
        background-color: #F9F9F9;
        min-height: 110vh;
        background-size: cover;
    }

    #sectionFour {
        min-height: 40vh;
        background-size: cover;
    }












} 