
.App {
    width: 100vw;
    height: 100vh; 
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .Sidebar {
    padding-top: 140px;
    height: 100vh;
    width: 230px;
    background-color: teal;
    position: fixed;
    float: left;
    margin-right: 20px;
  }
  
  .Sidebar .row:hover {
    cursor: pointer;
    background-color: red;
  }
  
  .links {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
  }
  
  .links #icon {
    flex: 10%;
    
  }
  
  .links #title {
    flex: 70%;
  }
  
  @media screen and (max-width: 960px) {
    .Sidebar {
        padding-top: 140px;
        height: 100vh;
        width: 130px;
        background-color: teal;
        position: fixed;
        float: left;
        margin-right: 20px;
    }
  
  
  }