
.backgroundImg {
    height: 100vh;
    background-image: url(/images/nightsky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center; 
  }

.hero-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: white;
}


#section2 {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.heading {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
}

.info {
    padding-top: 3rem;
    padding-left: 28rem;
    padding-right: 28rem;  
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}


@media screen and (max-width: 960px) {

    .hero-text {   
        font-size: 1.2rem;
    }

    #section2 {
        height: 120vh;
    }

    .info {
        padding-left: 3rem;
        padding-right: 3rem;
    }




}